---
// src/layout/Layout.astro
import Head from "@/layouts/Head.astro";
import Header from "@/components/Header.astro";
import Navbar from "@/components/Navbar.astro";
import FixMermaid from "@/components/Widgets/FixMermaid.astro";
import themeConfig from "@/config";
import "../styles/global.css";
import "../styles/markdown.css";
import "../styles/ext.css";
import ToggleButton from "@/components/ToggleButton.astro";

interface Props {
  articleTitle?: string;
  articleDescription?: string;
  articleSlug?: string;
  supportedLangs?: string[];
}

const { author } = themeConfig.site;
---

<!doctype html>
<html lang="zh-cn">
  <Head />
  <body>
    <div
      class="max-w-7xl mx-auto px-6 lg:grid lg:grid-cols-[240px_1fr] lg:gap-x-4"
    >
      <aside>
        <div class="lg:sticky lg:top-10">
          <Header />
          <Navbar />
          <div class="mt-4">
            <ToggleButton />
          </div>
        </div>
      </aside>

      <main class="py-8">
        <div class="content-wrapper">
          <article class="markdown">
            <slot />
          </article>
          <footer class="mt-12 pt-8 border-t border-gray-200">
            <p>
              &copy; {new Date().getFullYear()}
              {author} - All rights reserved.
            </p>
          </footer>
        </div>
      </main>
    </div>
  </body><FixMermaid />
</html>
